__tests__
package
coverage
android
ios
doc
app
App.js
App-readme.js
app.json
mkdoc.js
prism.png
.babelrc
.buckconfig
.flowconfig
.gitattributes
.watchmanconfig
yarn.lock
*.bak
*.log
*.tgz
release.sh
.env
*.keystore
